
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    background: rgb(206, 206, 206)
  }
  
  header {
    background: rgb(206, 206, 206);
  }


.movieheader {
  padding: 30px 0px;
  margin: 0;
  font-size: 75px;
  color:#c53030;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;  
  
  line-height: 100px;

}

.buttonTable {
 padding-left: 15px;

}

.movieSelect{
  font-size: 25px;
  color: #c53030;
  

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  line-height: 50px;
}


.eatSelect{
  font-size: 25px;
  color: #c53030;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 50px;
}